<dom-module id="cells-fastlunch-orders-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-fastlunch-orders; }

:host([hidden]), [hidden] {
  display: none !important; }

:host #qrarea {
    width: 50px !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

  .uno{
  width: 100%;

}
.qr-pedido{
  display: table-cell; 
  width: 40%; 
 
}
.detalle-pedido{
  display: table-cell; 
  width: 60%; 
  font-size: 0.775rem; 
  vertical-align: middle;
}

.product-item {
  background: grey;
  opacity:1;
  transition: opacity .5s;
}

.product-item.fade {
  opacity:0;
}

</style></template></dom-module>