<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../coronita-icons/coronita-icons.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="../cells-product-item/cells-product-item.html">
<link rel="import" href="../cells-middle-modal/cells-middle-modal.html">
<link rel="import" href="cells-fastlunch-orders-styles.html">
<link rel="import" href="../qrcode-component/qrcode-component.html">



<dom-module id="cells-fastlunch-orders">
    <template>
        <style include="cells-fastlunch-orders-styles cells-fastlunch-orders-shared-styles"></style>
        <template is="dom-repeat" items="[[orderListFormated]]" id="orderItemList">
          <cells-product-item id="[[index]]_pedidoItem" class="product-item" name="Pedido N° [[item.name]]" img-src="[[item.imgSrc]]"
          description="[[item.description]]" primary-amount="[[item.primaryAmount]]" 
          local-currency="PEN" 
          primary-amount-class="amount-large" name-right-to-image>

          <div id="contenedor" class="uno">
            <div style="display:table-row">             
              <div class="qr-pedido">
                <qrcode-component url={{item.name}}{{item.estadoPedido}}></qrcode-component>                
              </div>
              <div class="detalle-pedido">
                  <cells-st-button class="composed link">
                      <button data-index$="[[index]]"
                          class="btn-open" on-click="_verDetalleModal">Ver detalle
                          <iron-icon class="btn-icon" icon="coronita:ticket"></iron-icon>  
                      </button>
                  </cells-st-button>
              </div>

            </div>
            <div style="display:table-row">
                <div style="display: table-cell; width: 100%; 
                font-size: 0.775rem; vertical-align: middle;  text-align: left;">
                    <span>Solicitado {{item.fechaPedido}}</span>
                </div>
            </div>
          </div> 

          <hr>
          
          </cells-product-item>          
          
        </template>

        <cells-middle-modal aria-labelledby="ariaText3" close-icon="coronita:close" 
              heading-level="0" main-header-text="Detalle del pedido N° {{orderSelected.nameSel}}">
              <h1 class="titulo-modal" id="ariaText3">Resumen </h1>
              <div class="body">
                  <div style="display:table">
                      <div style="display:table-row">             
                        <div style="display: table-cell;">
                            <br><iron-icon class="btn-icon" icon="coronita:restaurant"></iron-icon>
                            {{orderSelected.descriptionSel}}           
                           <br><iron-icon class="btn-icon" icon="coronita:currencyexchange"></iron-icon>
                            Monto total: {{orderSelected.monedaSel}} {{orderSelected.montoSel}}                          
                           <br><iron-icon class="btn-icon" icon="coronita:forward"></iron-icon>
                           Estado del pedido: {{orderSelected.estadoPedidoSel}}
                           <br><iron-icon class="btn-icon" icon="coronita:calendar"></iron-icon>
                            Solicitado el: {{orderSelected.fechaPedidoSel}}
                           <br><iron-icon class="btn-icon" icon="coronita:cashregister"></iron-icon>
                            Medio de pago: {{orderSelected.tipoPagoSel}}
                           <br><iron-icon class="btn-icon" icon="coronita:clock"></iron-icon>
                            Horario: {{orderSelected.horarioAsigSel}}
                           <br><iron-icon class="btn-icon" icon="coronita:myprofile"></iron-icon>
                            Usuario: {{orderSelected.usuarioId}}      
                        </div>
                        <div style="display: table-cell; vertical-align: middle; width: 35%; text-align: center">
                            <img src="{{orderSelected.imgSrc}}" style="width: 150px; height: 150px;">
                        </div>
          
                      </div>                      
                    </div>
              </div>
        </cells-middle-modal>
        
    </template>


  <script src="cells-fastlunch-orders.js"></script>
</dom-module>